# chaves, com valores e variáveis secretas de ambiente
# altere o nome do arquivo de .env.example para .env
HOST= "COLOQUE O ENDEREÇO DO HOST Locaweb AQUI"
USER= "COLOQUE O NOME DO USUÁRIO AQUI"
PASS= "COLOQUE A SUA SENHA DA LOCAWEB AQUI"